.container {
    max-width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
   
 
  }
  
  th, td {
    text-align: center;
    padding: 12px;
  }
  
  .pagination-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .pagination-container label {
    margin-right: 5px;
    font-weight: bold;
  }
  
  .text-success {
    color: green;
  }
  
  .text-danger {
    color: red;
  }
  
  .text-warning {
    color: orange;
  }

  .top{
    border: 2px ;
    background-color: white;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .full{
    width: 800px;
    justify-content: center;
    align-items: center;
  }