<div class="d-flex">
<div>
<app-navbar></app-navbar>
</div>
<div class="container-fluid min-vh-100 d-flex">

    <!-- <nav id="sidebar" class="bg-dark text-light p-3">
        <div class="notification text-light">
            
            <i class="bi bi-bell"></i>
            <span class="notification-text">Notification</span> 
          </div>
          <div class="d-flex flex-column align-items-center justify-content-center h-100">
          <div class="notification text-light">
            
            <i class="bi bi-house-door"></i>
            <span class="notification-text">Home</span> 
          </div>

          <div class="notification text-light">
            
            <i class="bi bi-person "></i>
            <span class="notification-text">About</span> 
          </div>


          <div class="notification text-light">
            
            <i class="bi bi-gear"></i>
            <span class="notification-text">Service</span> 
          </div>

          
          <div class="notification text-light"href="#">
            
            <i class="bi bi-envelope" ></i>
            <span class="notification-text">Contact</span> 
          </div> -->


        <!-- <div class="d-flex flex-column align-items-center justify-content-center h-100">
          <ul class="nav flex-column align-items-center justify-content-center">
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
               
                <i class="bi bi-house-door"></i>
                <span class="nav-text">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
               
                <i class="bi bi-person "></i>
                <span class="nav-text">About</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
               
                <i class="bi bi-gear"></i>
                <span class="nav-text">Services</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
               
                <i class="bi bi-envelope"></i>
                <span class="nav-text">Contact</span>
              </a>
            </li>
          </ul>
        </div> -->
    <!-- </div>
      </nav> -->

    <!-- Left Column -->
    <div class="col-md-6 bg-light d-flex flex-column justify-content-center p-5">
      <!-- Logo -->
      <div class="mb-4">
        <!-- <img src="https://via.placeholder.com/150x50?text=LivingSync" alt="LivingSync Logo" class="img-fluid"> -->
         <h4>LivingSync</h4>
      </div>
      
      <!-- Main Text -->
      <h1 class="display-4 fw-bold text-dark">
        Find The Place To <br>
        <span class="text-dark">Live Your <span class="text-primary">Dreams</span></span> <br>
        Easily Here
      </h1>
      
      <!-- Subtext -->
      <p class="mt-4 text-secondary fs-5">
        Everything you need about finding your place to live will be here, 
        where it will be easier for you.
      </p>
    </div>
  
    <!-- Right Column -->
    <div class="col-md-6 d-flex align-items-center justify-content-center ">
      <img src="https://st.hzcdn.com/fimgs/16116fab00f5c342_2900-w312-h312-b0-p0--contemporary-exterior.jpg" alt="Modern House" class="img-fluid rounded-start ">
    </div>
  </div>
</div>